version: 2

jobs:
  build:
    docker:
      - image: circleci/rust:latest
    steps:
      - checkout
      - run: cargo build --all

  cross-ios:
    macos:
      xcode: 11.4.0
    working_directory: ~/work
    steps:
    - checkout
    - run:
        name: Install rustup
        command: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - run:
        name: Install Rust 1.41
        command: rustup install 1.41.0 && rustup default 1.41.0
    - run:
        name: Install iOS targets
        command: rustup target add armv7-apple-ios armv7s-apple-ios aarch64-apple-ios 
    - run:
        name: Build iOS
        command: cd crates/threshold-bls-ffi/cross && make ios
    - store_artifacts:
        path: ~/work/cross/react-native/ios

  test:
    docker:
      - image: circleci/rust:latest
    steps:
      - checkout
      - run: cargo test --all
  wasm:
    docker:
      - image: circleci/rust:latest
    steps:
    - checkout
    - run:
        name: Install wasm-pack
        command: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
    - run:
        name: Build wasm
        command: cd crates/threshold-bls-ffi && wasm-pack build

  cross-android:
    docker:
      - image: circleci/rust:latest
    working_directory: ~/work
    steps:
    - checkout
    - run:
        name: Install rustup
        command: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - run:
        name: Install Rust 1.41
        command: rustup install 1.41.0 && rustup default 1.41.0
    - run:
        name: Install Android targets
        command: rustup target add aarch64-linux-android armv7-linux-androideabi arm-linux-androideabi i686-linux-android x86_64-linux-android
    - run:
        name: Download NDK
        command: cd crates/threshold-bls-ffi && wget https://dl.google.com/android/repository/android-ndk-r21-linux-x86_64.zip && unzip android-ndk-r21-linux-x86_64.zip
    - run:
        name: Create standalone toolchain
        command: cd crates/threshold-bls-ffi/cross && NDK_HOME=$PWD/../android-ndk-r21 ./create-ndk-standalone.sh
    - run:
        name: Build Android
        command: cd crates/threshold-bls-ffi/cross && make android
    - store_artifacts:
        path: ~/work/cross/react-native/android

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
      - wasm
      - cross-android
      - cross-ios
