version: 2

jobs:
  contracts:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: Test Contracts
          command: |
              cd solidity
              yarn
              yarn build
              yarn test

  cross-ios:
    macos:
      xcode: 13.3.0
    working_directory: ~/work
    steps:
    - checkout
    - run:
        name: Install rustup
        command: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - run:
        name: Install Rust 1.64
        command: rustup install 1.64.0 && rustup default 1.64.0
    - run:
        name: Install iOS targets
        command: rustup target add aarch64-apple-ios x86_64-apple-ios
    - run:
        name: Build iOS
        command: cd crates/threshold-bls-ffi/cross && make ios
    - store_artifacts:
        path: ~/work/cross/react-native/ios

  test:
    docker:
      - image: cimg/rust:1.64.0
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
              cargo install cargo-audit
              rustup component add clippy
              mkdir -p "$HOME/bin"
              wget -q https://github.com/ethereum/solidity/releases/download/v0.6.6/solc-static-linux -O $HOME/bin/solc
              chmod u+x "$HOME/bin/solc"
              export PATH=$HOME/bin:$PATH
              solc --version
      - run:
          name: Tests
          command: |
              export PATH=$HOME/bin:$PATH
              cargo test --all
      - run:
          name: Check style
          command: |
              cargo fmt --all -- --check
              cargo clippy --all-targets --all-features -- -D warnings -Aclippy::upper_case_acronyms
      - run:
          name: Audit Dependencies
          command: cargo audit --ignore RUSTSEC-2019-0031 # ignore lazy static warning

  wasm:
    docker:
      - image: cimg/rust:1.64.0
    steps:
    - checkout
    - run:
        name: Install wasm-pack
        command: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
    - run:
        name: Build wasm
        command: cd crates/threshold-bls-ffi && wasm-pack build

  cross-android:
    docker:
      - image: cimg/rust:1.64.0
    working_directory: ~/work
    steps:
    - checkout
    - run:
        name: Install Python
        command: sudo apt install python
    - run:
        name: Install Android targets
        command: rustup target add aarch64-linux-android armv7-linux-androideabi arm-linux-androideabi i686-linux-android x86_64-linux-android
    - run:
        name: Download NDK
        command: cd crates/threshold-bls-ffi && wget https://dl.google.com/android/repository/android-ndk-r21-linux-x86_64.zip && unzip android-ndk-r21-linux-x86_64.zip
    - run:
        name: Create standalone toolchain
        command: cd crates/threshold-bls-ffi/cross && NDK_HOME=$PWD/../android-ndk-r21 ./create-ndk-standalone.sh
    - run:
        name: Build Android
        command: cd crates/threshold-bls-ffi/cross && make android
    - store_artifacts:
        path: ~/work/cross/react-native/android

workflows:
  version: 2
  build_and_test:
    jobs:
      - contracts
      - test
      - wasm
      - cross-android
      - cross-ios
