[package]
name = "threshold-bls-ffi"
version = "0.1.0"
authors = ["Georgios Konstantopoulos <me@gakonst.com>"]
edition = "2018"

[lib]
crate-type = ["lib", "cdylib", "staticlib"]
name = "blind_threshold_bls"

[dependencies]
threshold-bls = { path = "../threshold-bls", default-features = false, features = ["bls12_377"] }
bls-crypto = { git = "https://github.com/celo-org/bls-zexe", rev = "879630a7d95794994e31c874934d04b3c5904892" }

rand_core = { version = "0.5.1", default-features = false }
rand_chacha = { version = "0.2.2", default-features = false }

wasm-bindgen = { version = "0.2.60", optional = true }
bincode = { version = "1.2.1", default-features = false }
serde = { version = "1.0.106", default-features =  false }

cfg-if = "0.1"
jni = { version = "0.21.1", optional = true }

[features]
wasm = ["wasm-bindgen"]
